<header>
    <h1>About Me</h1>
  </header>

  <main>
    <div class="image">
    <img src="../../../asset/Images/ade3.jpg" alt="portrait picture " width="50%">
    <img src="../../../asset/Images/ade2.jpg" alt="portrait picture " width="50%">
</div>
    <section id="container">
        <article id="con1">
          <h2>SUMMARY</h2>
          <p>
              I am a Web developer professional who specializes in creating and maintaining websites, 
              utilizing my expertise in programming languages such as HTML, CSS, and JavaScript to design and
              develop functional and visually appealing online platforms. I am focused on implementing client 
              requirements, ensuring responsive and user-friendly designs, and optimizing websites for performance and 
              search engine visibility.
          </p>
        </article>
        <article id="con2">
          <h2>BACKGROUND</h2>
          <p> I have a background in project management and customer service in Nigeria, I brings 
              extensive experience in successfully overseeing and delivering complex projects while ensuring exceptional 
              customer satisfaction. I possess strong organizational and communication skills, effectively managing teams 
              and stakeholders to achieve project goals, all while maintaining a customer-centric approach to drive positive 
              client relationships. </p>
        </article>
        
    </section>
    <section id="contain">
        <article id="con3">
            <h2>EDUCATION</h2>
            <p> 
                <ul>
                    <li> INFORMATION TECHNOLOGY SOLUTIONS AT HUMBER COLLEGE </li>
                    <li> BOTANY AT UNIVERSITY OF ILORIN </li>
                </ul>
            <!-- </p> -->
        </article>
    </section>
  </main>
