ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282d32;
    color: white;
    display: flex;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04aa6d;
  }

  .con {
    padding-top: 14px;
  }
  .socials {
    align-items: center;
    justify-content: center;
  }
  footer {
    align-items: center;
  }
  @media (max-width: 768px) {
    ul {
      display: block;
    }
    .con {
      display: inline-block;
      align-items: center;
      text-align: center;
    }
  }