<footer>
    <div class="socials">
    <ul>
      <div class="con">
      <li><strong>CONTACT INFORMATION:</strong></li>
    </div>
    <div class="icons">
      <li><strong><a href="mailto:omoade980@outlook.com" target="_blank"><i class="far fa-envelope"></i></a></strong></li>
      <li><strong><a href="tel:+14167207925" target="_blank"><i class="fas fa-phone"></i></a></strong></li>
      <li><strong><a href="https://www.linkedin.com/in/omoade980" target="_blank"><i class="fab fa-linkedin"></i></a></strong></li>
      <li><strong><a href="https://www.facebook.com/nenesious" target="_blank"><i class="fab fa-facebook"></i></a></strong></li>
      <li><strong><a href="https://instagram.com/ade__kunle_?igshid=MmIzYWVlNDQ5Yg==" target="_blank"><i class="fab fa-instagram"></i> </a></strong></li>
      <li><strong><a href="https://github.com/Adekunle-980" target="_blank"><i class="fab fa-github"></i> </a></strong></li>
      <li><strong><a href="https://www.twitter.com/adekunle980" target="_blank"><i class="fab fa-twitter"></i></a></strong></li>
    </div>
    </ul>
    </div>
</footer>