
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
  }
  html {
    background-color: black;
  }

  body {
    margin: 50px 200px;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    border: 2px solid sienna;
    position: absolute;
  }

  
  header {
    text-align: center;
  }
  
  nav {
    background-color: blanchedalmond;
    padding: 12px 0;
    border-bottom: 2px solid sienna;
    display: flex; /* Add this to make the links display in a straight line */
    justify-content: center; /* Add this to center the links horizontally */
  }
  
  nav ul {
    list-style: none;
    display: flex; /* Add this to align the list items horizontally */
  }
  
  nav li {
    margin: 0 20px; /* Add some space between the navigation links */
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  #container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #container h2 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 5px;
  }

  #contain h2 {
    text-align: left;
    border-bottom: 1px solid black;
    margin: 5px;
  }

  p {
    text-align: justify;
    padding: 10px;
  }

  img {
    width: 350px;
    height: 500px;
    margin: 10px;
    position: relative;
    border-radius: 10%;

  }
  main {
    padding: 1rem;
  }
#con3 ul {
  padding: 0;
  margin-top: 0;
  margin-left: 5px;
}
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: blanchedalmond;
    border-top: 2px solid salmon;
    padding: 20px;
    text-align: center;
    color: black;
  }
  .socials ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  