<header>
    <h1>Welcome to my Portfolio</h1>
</header>
<body>
    <body>
        <!-- <header>
          <nav>
            <ul>
             <li><a href="index.html">HOME</a></li>
             <li><a href="about.html">ABOUT ME</a></li>
             <li><a href="portfolio.html">PORTFOLIO</a></li>
             <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </header> -->
        <main>
          <img src="../../../asset/Images/ADE.JPG" alt="Profile Picture" width="50%">
          <h1>ADEKUNLE OMONIHI</h1>
          <h3>Web Developer</h3>
      <section>
        <article id="con1">
          <p class="welcome">
            Welcome to my profile page! I'm a passionate web developer, dedicated 
            to crafting visually stunning and user-friendly websites. With a 
            keen eye for design and a commitment to delivering top-notch 
            solutions, I love turning ideas into reality through lines of 
            code. Let's team up and create something extraordinary together! 
            Feel free to connect and explore my work and experiences as a web 
            developer.
          </p>
        </article>
        <hr />
        <article id="site">
          <p> 
            This site is a showcase of my passion for crafting exceptional 
            online experiences. As a dedicated web developer, I have poured 
            my heart and soul into creating this platform to highlight my 
            skills and expertise in the digital realm. I believe in the power 
            of clean code and user-centric design, and this site reflects my 
            commitment to delivering top-notch solutions. 
            Thank you for visiting, and I hope this glimpse into my work 
            sparks inspiration and excitement for the possibilities of the 
            web!
          </p>
        </article>
      </section>
        </main>
      
</body>
<!-- <body>
    <h2>This is to showcase my knowledge in: </h2>
    <p>Navigation</p>
    <p><a href="users">Click to show users and their information</a></p>
    <p><a href="register">Click to Register</a></p>
</body> -->