<header>
    <h1>Portfolio</h1>
  </header>

  <main>
    <section class="project">
      <h2>Game Selling Website</h2>
      <img src="../../../asset/Images/game.png" alt="Project 1" width="50%">
      <p>
        Build a website to sell games, gaming equipments and merchandise. This is a 
        picture of the home page white is my semester ! project with my group member. 
      </p>
      <button>
      <a href="project1.html" target="" style="text-decoration: none; color: black;">View Project</a>
    </button>
    </section>

    <section class="project">
      <h2>Security Resume</h2>
      <img src="../../../asset/Images/security.jpeg" alt="Security Guard" width="50%" height="500px">
      <p>
        This is a resume of my work experience in the security sector.
      </p>
      <button>
      <a href="https://docs.google.com/document/d/17aVLk-lhIeUWVeEsVvDYB09_8UMEOjAb/edit?usp=sharing&ouid=117008598477626928134&rtpof=true&sd=true" target="_blank" target="" style="text-decoration: none; color: black;">View Resume</a>
    </button>
    </section>
  </main>